# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.7.6

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [2]:
# Imports
import pandas as pd
import numpy as np

In [45]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

In [127]:
# Implemente aqui sua solução
num_Clientes = purchase_file["Login"].nunique()
print("O número de clientes da loja é %s" %(num_Clientes))

O número de clientes da loja é 573

## Análise Geral de Compras

In [128]:
# Implemente aqui sua solução

#Número de items exclusivos
item_e_id = pd.DataFrame(purchase_file["Item ID"])
item_e_id = item_e_id.join(purchase_file["Nome do Item"])
numero_items = item_e_id["Item ID"].nunique()
print("O número de items exclusivos é %s" %(numero_items))

#Preço médio das compras
preco_med = pd.DataFrame.mean(purchase_file["Valor"])
print("O valor médio dos produtos é de %s" %round(preco_med,2))

#Numero Total de Compras
total_compras = len(purchase_file)
print("O número total de compras realizadas na loja foi de %s" %(total_compras))

#Rendimento total da loja
rendimento = purchase_file["Valor"].sum()
print("O Rendimento total da loja foi de %s" %(rendimento))

O número de items exclusivos é 183
O valor médio dos produtos é de 2.93
O número total de compras realizadas na loja foi de 780
O Rendimento total da loja foi de 2286.33

## Análise Demográfica

In [506]:
# Implemente aqui sua solução
#Informações por Genero
consu_gen = purchase_file[['Login', 'Sexo']].drop_duplicates(subset = 'Login')
consu_gen
consu_gen_numbers = consu_gen['Sexo'].value_counts()
consu_gen_prop = (consu_gen_numbers/num_Clientes) * 100  
df_consu_gen = [consu_gen_numbers, consu_gen_prop]
df_consu_gen = pd.DataFrame({'Contagem': consu_gen_numbers, 'Proporção': consu_gen_prop})
df_consu_gen['Proporção'] = df_consu_gen['Proporção'].map("{:,.3f}%".format)

In [507]:
df_consu_gen

                       Contagem Proporção
Masculino                   465   81.152%
Feminino                    100   17.452%
Outro / Não Divulgado         8    1.396%

## Informações Demográficas Por Gênero

In [487]:
# Implemente aqui sua solução

#Número de compras por Genero
compra_sex = purchase_file.groupby(['Sexo']).count()['Login']
print(compra_sex)

#Preço médio das compra por Genero

mean_sex = purchase_file[['Valor','Sexo']].groupby(by=['Sexo']).mean()
print(mean_sex)

#Valor total das compras Por Genero
total_sex = purchase_file[['Valor','Sexo']].groupby(by=['Sexo']).sum()
print(total_sex)

#Numero das compras, valores idade
labels = ["Menos de 10", "10 a 14", "15 a 19", "20 a 24", "25 a 29", "30 a 34", "35 a 39", "Mais de 40"]
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
purchase_file['Faixa Etaria'] = pd.cut(purchase_file['Idade'], bins=bins, labels=labels)
contagem = purchase_file['Faixa Etaria'].value_counts(sort=False)
contagem

#Porcentagem de compras por idade
porcentagem = (contagem / num_Clientes) *100
porcentagem

#Valor Médio por idade

valor_medio = purchase_file.groupby(['Faixa Etaria']).mean()['Valor']
valor_medio

#Valor Total por Idade

max_compra = purchase_file.groupby(['Faixa Etaria']).sum()['Valor']
max_compra

Sexo
Feminino                 136
Masculino                633
Outro / Não Divulgado     11
Name: Login, dtype: int64
                          Valor
Sexo
Feminino               2.815515
Masculino              2.950521
Outro / Não Divulgado  3.249091
                         Valor
Sexo
Feminino                382.91
Masculino              1867.68
Outro / Não Divulgado    35.74

Faixa Etaria
Menos de 10     83.46
10 a 14         96.95
15 a 19        386.42
20 a 24        978.77
25 a 29        370.33
30 a 34        197.25
35 a 39        119.40
Mais de 40      53.75
Name: Valor, dtype: float64

In [443]:
#Resultado
df_idade = pd.DataFrame({'Contagem': contagem,'%': porcentagem, 'Compra Media': valor_medio, 'Total Compra': max_compra})
df_idade['%'] = df_idade['%'].map("{:,.2f}%".format)
df_idade['Compra Media'] = df_idade['Compra Media'].map("{:,.2f}".format)
df_idade['Total Compra'] = df_idade['Total Compra'].map("${:,.2f}".format)
df_idade

             Contagem       % Compra Media Total Compra
Menos de 10        28   4.89%         2.98       $83.46
10 a 14            35   6.11%         2.77       $96.95
15 a 19           133  23.21%         2.91      $386.42
20 a 24           336  58.64%         2.91      $978.77
25 a 29           125  21.82%         2.96      $370.33
30 a 34            64  11.17%         3.08      $197.25
35 a 39            42   7.33%         2.84      $119.40
Mais de 40         17   2.97%         3.16       $53.75

## Consumidores Mais Populares (Top 5)

In [679]:
# Implemente aqui sua solução
popular = purchase_file.groupby(by=['Login']).count()['Valor'] 

popular_media = purchase_file.groupby(by=['Login']).mean()['Valor'] 

popular_total = purchase_file.groupby(by=['Login']).sum()['Valor']

In [683]:
df_top5 = pd.DataFrame({'Compras': popular, 'Media': popular_media, 'Total': popular_total})
df_top5 = df_top5.sort_values(by='Compras', ascending=False)

In [684]:
top5 = df_top5.head(5)
top5

             Compras   Media  Total
Login
Undirrala66        5  3.4120  17.06
Mindimnya67        4  3.1850  12.74
Qarwen67           4  2.4925   9.97
Saedue76           4  3.3900  13.56
Sondastan54        4  2.5600  10.24

## Itens Mais Populares

In [720]:
#### Implemente aqui sua solução

item_popular = purchase_file.groupby(by=['Nome do Item']).count()['Valor']

item_popular_media = purchase_file.groupby(by=['Nome do Item']).mean()['Valor']

item_popular_total = purchase_file.groupby(by=['Nome do Item']).sum()['Valor']

item_top5 = pd.DataFrame({'Valor Total': item_popular_total, 'Valor Médio': item_popular_media, 
                         'Número de Compras': item_popular})

item_top5['Valor Total'] = item_top5['Valor Total'].map("${:,.2f}".format)
item_top5['Valor Médio'] = item_top5['Valor Médio'].map("${:,.2f}".format)
item_top5.sort_values('Número de Compras', ascending = False).head(5)

,Valor Total,Valor Médio,Número de Compras
Nome do Item,,,
Final Critic,$38.60,$2.76,14
Arcane Gem,$24.53,$2.23,11
"Betrayal, Whisper of Grieving Widows",$25.85,$2.35,11
Stormcaller,$34.65,$3.46,10
Woeful Adamantite Claymore,$11.16,$1.24,9

## Itens Mais Lucrativos

In [725]:
# Implemente aqui sua solução
item_popular = purchase_file.groupby(by=['Nome do Item']).count()['Valor']

item_popular_media = purchase_file.groupby(by=['Nome do Item']).mean()['Valor']

item_popular_total = purchase_file.groupby(by=['Nome do Item']).sum()['Valor']

item_top5 = pd.DataFrame({'Valor Total': item_popular_total, 'Valor Médio': item_popular_media, 
                         'Número de Compras': item_popular})
item_top5['Valor Completo'] = item_top5['Valor Total']
item_top5['Valor Total'] = item_top5['Valor Total'].map("${:,.2f}".format)
item_top5['Valor Médio'] = item_top5['Valor Médio'].map("${:,.2f}".format)
item_top5.sort_values('Valor Completo', ascending = False).head(5) [['Valor Total','Valor Médio', 'Número de Compras']]

                           Valor Total Valor Médio  Número de Compras
Nome do Item
Final Critic                    $38.60       $2.76                 14
Retribution Axe                 $37.26       $4.14                  9
Stormcaller                     $34.65       $3.46                 10
Spectral Diamond Doomblade      $29.75       $4.25                  7
Orenmir                         $29.70       $4.95                  6

## Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>