# Estruturas de Dados - Listas

###### Listas podem ser consideradas a visão geral de uma sequencia em python ao contrário das srings os elementos dentro de uma lista podem ser mudados
lista=[nome1, nome2, nomeZ]

In [ ]:
# Criando uma lista
listademercado = ["ovos, farinha, leite, maças"]

In [ ]:
# Imprimindo uma lista
print(listademercado)

In [ ]:
# Criando outro lista
listademercado2 = ["ovos", "farinha", "leite", "macas"]

In [ ]:
print(listademercado2)

In [ ]:
listademercado[0]

In [ ]:
listademercado2[0]

In [ ]:
# Criando lista
lista3 = [12, 100, "Universidade"]

In [ ]:
# Imprimindo
print(lista3)

In [ ]:
#Atribuindo cada valor da lista a uma variável
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [ ]:
#Imprimindo variáveis
print(item1, item2, item3)

### Atualizando um item da lista

In [ ]:
#Imprimindo um item da lista
listademercado2[2]

In [ ]:
# Atualizando um item de uma lista
listademercado2[2] = "chocolate"

In [ ]:
# Imprimindo lista alterada
listademercado2

### Deletenado um item da lista

In [ ]:
del listademercado2[4]

In [ ]:
del listademercado2[3]

In [ ]:
listademercado2

### Listas de listas (Listas Aninhadas)

In [2]:
# Criando uma lista de listas
listas = [[1,2,3],[10,15,14],[10.1,8.7,2.3]]

In [3]:
# Imprimir a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [4]:
a = listas[0]

In [5]:
a

[1, 2, 3]

In [6]:
b = a [0]

In [7]:
b

1

In [8]:
list1 = listas[1]

In [9]:
list1

[10, 15, 14]

In [10]:
valor_1_0 = list1[0]

In [11]:
valor_1_0

10

In [12]:
valor_1_2 = list1[2]

In [13]:
valor_1_2

14

In [14]:
list2 = listas[2]

In [15]:
list2

[10.1, 8.7, 2.3]

In [16]:
valor_2_0 = list2[0]

In [17]:
valor_2_0

10.1

### Operações com listas

Minuto 3:53 continuar amanhã

In [18]:
#Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [19]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [20]:
a = listas[0][0]

In [21]:
a

1

In [22]:
b = listas[1][2]

In [23]:
b

14

In [24]:
c = listas[0][2] + 10

In [25]:
c

13

In [26]:
d = 10

In [27]:
d

10

In [28]:
e = d * listas[2][0]

In [29]:
e

101.0

### Concatenar Listas

In [30]:
listas_s1 = [34,32,56]

In [31]:
listas_s1

[34, 32, 56]

In [32]:
listas_s2 = [21,90,51]

In [33]:
listas_s2

[21, 90, 51]

In [34]:
# contatenando listas
listas_total = listas_s1 + listas_s2

In [35]:
listas_total

[34, 32, 56, 21, 90, 51]

### Operator in

In [36]:
# Criando uma Lista
lista_teste_op = [100,2,-5,3.4]

In [37]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [38]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [39]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

4

In [40]:
# Função max() retorna o maior valor da lista
max(lista_teste_op)

100

In [41]:
# Função min() retorna o menor valor da lista
min(lista_teste_op)

-5

In [52]:
#Criando uma Lista
listademercado2 = ["ovos", "farinha", "leite", "macas"]

In [53]:
# Adicionando um item a lista
listademercado2.append("carne")

In [54]:
listademercado2

['ovos', 'farinha', 'leite', 'macas', 'carne']

In [55]:
listademercado2.append("carne")

In [56]:
listademercado2

['ovos', 'farinha', 'leite', 'macas', 'carne', 'carne']

In [57]:
listademercado2.count("carne")

2

In [58]:
listademercado2.remove("carne")

In [59]:
listademercado2

['ovos', 'farinha', 'leite', 'macas', 'carne']

In [60]:
# Criando uma lista vazia
a = []

In [61]:
a

[]

In [62]:
type(a)

list

In [63]:
a.append(50)

In [64]:
a

[50]

In [65]:
old_list = [1,2,5,10]

In [66]:
new_list = []

In [67]:
# Copiando os itens de  uma lista para outra
for item in old_list:
    new_list.append(item)

In [68]:
new_list

[1, 2, 5, 10]

In [ ]:
c = [20,50]

In [ ]:
c.append(60)

In [ ]:
c.append(30)

In [ ]:
c.append(2.5)

In [ ]:
c

In [ ]:
cidades = ["Recife", "Manaus", "Salvador"]
cidades.extend(["Fortaleza","Palmas"])
print(cidades)

In [ ]:
cidades.index("Salvador")

Lembre-se a Indexação em Python começa por 0!

In [ ]:
cidades.index("São Paulo")

In [ ]:
cidades

In [ ]:
cidades.insert(2, 100)

In [ ]:
cidades

In [ ]:
# Removendo itens da lista
cidades.remove(100)

In [ ]:
cidades

In [ ]:
# Reverte a lista
cidades.reverse()

In [ ]:
cidades

In [ ]:
# Ordenando uma lista
x = [3,4,2,1]

In [ ]:
x.sort()

In [ ]:
x

In [ ]:
cidades.sort()

In [ ]:
cidades
# Qual o padrão???