### Objetos

In [1]:
lst_nun = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
type(lst_nun)

list

In [5]:
lst_nun.count(10)

2

In [8]:
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [9]:
class Carro(object):
    pass
palio = Carro()

print(type(palio))

<class '__main__.Carro'>

In [10]:
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [11]:
Estudante1 = Estudantes("Pele", 12, 9.5)

In [12]:
Estudante1.nome

'Pele'

In [13]:
Estudante1.idade

12

In [14]:
Estudante1.nota

9.5

In [22]:
class Funcionarios:
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario
        
    def listFunc(self):
        print("O nome do funcionário é " + self.nome + " e o salário é R$" + str(self.salario))

In [23]:
Func1 = Funcionarios("Obama", 20000)

In [24]:
Func1.listFunc()

O nome do funcionário é Obama e o salário é R$20000

In [25]:
print("***** Usando Atributos *****")

***** Usando Atributos *****

In [26]:
hasattr(Func1, "nome")

True

In [27]:
hasattr(Func1, "salario")

True

In [28]:
setattr(Func1, "salario", 4500)

In [29]:
hasattr(Func1, "salario")

True

In [30]:
getattr(Func1, "salario")

4500

In [31]:
delattr(Func1, "salario")

In [32]:
hasattr(Func1, "salario")

False

In [33]:
setattr(Func1, "salario", 20000)

In [34]:
hasattr(Func1, "salario")

True