### Inserindo Dados com Variável

In [1]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect("dsa.db")

# Criando cursor
c = conn.cursor()

# Define uma função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL) ')

# Define uma função para criar uma linha    
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2018-05-02 14:32:11', 'Teclado', 130)")
    conn.commit()
    c.close()
    conn.close()
    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos(date, prod_name, valor) VALUES (?, ?, ?)",(new_date, new_prod_name, new_valor))
    conn.commit()

In [2]:
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [6]:
c.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [4]:
import pandas as pd

In [5]:
#Atribuindo a base de dados a uma variavel com Pandas através de uma query do sqlite3 
#Selecionando todos os elementos da tabela produtos dentro do banco de dados
conn = sqlite3.connect("dsa.db")
db = pd.read_sql_query("SELECT * from produtos", conn)
db.head(20)

    id                        date prod_name  valor
0   10         2018-05-02 14:32:11   Teclado   90.0
1   11  2021-09-09 08:27:59.587573   Monitor   82.0
2   12  2021-09-09 08:28:00.671196   Monitor   59.0
3   13  2021-09-09 08:28:01.674691   Monitor   75.0
4   14  2021-09-09 08:28:02.682421   Monitor   90.0
5   15  2021-09-09 08:28:03.814852   Monitor   60.0
6   16  2021-09-09 08:28:04.826056   Monitor   90.0
7   17  2021-09-09 08:28:05.832037   Monitor   90.0
8   18  2021-09-09 08:28:06.839373   Monitor   82.0
9   19  2021-09-09 08:28:07.850349   Monitor   74.0
10  20  2021-09-09 08:28:08.857951   Monitor   89.0

In [7]:
conn.close()